<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.13.7" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Tekla.Common.Geometry" version="4.6.2" targetFramework="net461" />
  <package id="Tekla.Structures" version="2022.0.10075" targetFramework="net461" />
  <package id="Tekla.Structures.Catalogs" version="2022.0.10075" targetFramework="net461" />
  <package id="Tekla.Structures.Datatype" version="2022.0.10075" targetFramework="net461" />
  <package id="Tekla.Structures.Dialog" version="2022.0.10075" targetFramework="net461" />
  <package id="Tekla.Structures.Drawing" version="2022.0.10075" targetFramework="net461" />
  <package id="Tekla.Structures.Model" version="2022.0.10075" targetFramework="net461" />
  <package id="Tekla.Structures.Plugins" version="2022.0.10075" targetFramework="net461" />
  <package id="Tekla.Technology.Akit5" version="5.8.17235.1" targetFramework="net461" />
  <package id="Tekla.Technology.Msglib" version="2.1.18312" targetFramework="net461" />
  <package id="Tekla.Technology.Rkit" version="2.1.4.17310" targetFramework="net461" />
  <package id="Tekla.Technology.Scripting" version="5.0.20041" targetFramework="net461" />
  <package id="Tekla.Technology.Scripting.Plugins" version="5.3.17206.0" targetFramework="net461" />
  <package id="Tekla.Technology.Serialization" version="1.1.0" targetFramework="net461" />
</packages>