<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Tekla.Structures" version="2022.0.10715" targetFramework="net451" />
  <package id="Tekla.Structures.Catalogs" version="2022.0.10715" targetFramework="net451" />
  <package id="Tekla.Structures.CustomPropertyPlugin" version="2022.0.10715" targetFramework="net451" />
  <package id="Tekla.Structures.Datatype" version="2022.0.10715" targetFramework="net451" />
  <package id="Tekla.Structures.Dialog" version="2022.0.10715" targetFramework="net451" />
  <package id="Tekla.Structures.Drawing" version="2022.0.10715" targetFramework="net451" />
  <package id="Tekla.Structures.Model" version="2022.0.10715" targetFramework="net451" />
  <package id="Tekla.Structures.Plugins" version="2022.0.10715" targetFramework="net451" />
</packages>