<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Tekla.Structures" version="2021.0.0" targetFramework="net451" />
  <package id="Tekla.Structures.Catalogs" version="2021.0.0" targetFramework="net451" />
  <package id="Tekla.Structures.CustomPropertyPlugin" version="2021.0.0" targetFramework="net451" />
  <package id="Tekla.Structures.Datatype" version="2021.0.0" targetFramework="net451" />
  <package id="Tekla.Structures.Dialog" version="2021.0.0" targetFramework="net451" />
  <package id="Tekla.Structures.Drawing" version="2021.0.0" targetFramework="net451" />
  <package id="Tekla.Structures.Model" version="2021.0.0" targetFramework="net451" />
  <package id="Tekla.Structures.Plugins" version="2021.0.0" targetFramework="net451" />
  <package id="Tekla.Technology.Msglib" version="2.1.18312" targetFramework="net451" />
  <package id="Tekla.Technology.Rkit" version="2.1.4.17310" targetFramework="net451" />
</packages>