<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Tekla.Structures" version="2023.0.1" targetFramework="net48" />
  <package id="Tekla.Structures.Catalogs" version="2023.0.1" targetFramework="net48" />
  <package id="Tekla.Structures.Datatype" version="2023.0.1" targetFramework="net48" />
  <package id="Tekla.Structures.Dialog" version="2023.0.1" targetFramework="net48" />
  <package id="Tekla.Structures.Drawing" version="2023.0.1" targetFramework="net48" />
  <package id="Tekla.Structures.Model" version="2023.0.1" targetFramework="net48" />
  <package id="Tekla.Structures.Plugins" version="2023.0.1" targetFramework="net48" />
</packages>